/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(250, 108, 108);
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.old-price {
  text-decoration: line-through;
}

.actual-price {
  color: red;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.display-none {
  display: none;
}

/* HEADER */

.page-header {
  background-color: #ff6900;
  color: white;
  padding: 1rem 0;

  position: sticky;
  top: 0;
  z-index: 10;
}

.header-gender li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}

.header-logo {
  flex-grow: 1;
  text-align: center;
}

.header-logo > img {
  height: 1.5rem;
}

.header-icon i {
  padding: 0 5px;
}

/* MAIN */

main .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  width: 33%;
  padding: 20px 10px;
}

/* MAIN TOP CARD  */

.top-card {
  position: relative;
}

.element-label {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 2rem;
  left: 0;
}

.label {
  padding: 2px 8px;
  color: white;
  z-index: 1;
}

.label.discount {
  background-color: red;
}

.label.sustainability {
  background-color: green;
}

.heart {
  position: absolute;
  right: 0;
  top: 1rem;

  background-color: white;
  width: fit-content;
  padding: 1rem;
  z-index: 1;
}

.hover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card:hover .hover {
  display: block;
}

.brand,
.model {
  display: block;
}

.model {
  font-weight: bold;
}

.brand {
  font-weight: 100;
}

/* FOOTER */

.page-footer {
  background-color: #1a1a1a;
  color: white;
}

.page-footer > .container {
  padding: 30px 10px;
}

.element-info li {
  display: inline-block;
  padding-right: 1rem;
  padding-top: 1rem;
}

.element-social > span {
  display: block;
}

.element-social > i {
  display: inline-block;
  padding-right: 0.5rem;
  padding-top: 1rem;
  font-size: 1.2rem;
}
