/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(250, 108, 108);
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  align-items: center;
}

/* HEADER */

.page-header {
  background-color: #ff6900;
  color: white;
  padding: 1rem 0;

  position: sticky;
  top: 0;
}

.header-gender li {
  display: inline-block;
}

.header-logo {
  flex-grow: 1;
  text-align: center;
}

.header-logo > img {
  height: 1.5rem;
}
